p{
    text-indent: 15px;
}
header{
    align-items: center;
}

/* decisions products */
.decisions-title img,
.products-title img{
    margin: 100px 10px 0 300px;
    height: 80px;
}
.decisions-title h1,
.products-title h1{
    margin: 100px 100px 0 10px;
}
.decisions-title p,
.products-title p,
.teltonika-margin-width{
    margin: 120px 300px 0 10px;
    width: 500px;
}
/* delete */
/* .wow{
    height: 80px;
    margin: 100px 10px 0 300px;
}
.wow2{
    margin: 100px 100px 0 10px;
}
.wow3{
    margin: 120px 300px 0 10px;
    width: 500px;
} */
/* delete */



/* .background-horizontal{
    right: 300px;
    left: 300px;
    top: 40px;
    bottom: 40px;
} */





.background-horizontal{
    background-color: var(--color-2);
    border-radius: 20px;
    height: 360px;
    width: 850px;
    /* margin: 40px 300px 40px 300px; */
}
.background-horizontal video{
    margin: 20px 0 20px 40px;
    height: 300px;
    width: 500px;
}
.background-horizontal h2{
    font-size: 20px;
    margin: 28px 0 0 20px;
}
.background-horizontal p{
    margin: 20px 20px 0 20px;
}
/* delete */
/* .content-1{
    display: flex;
    background-color: #FFFFFF;
    border-radius: 20px;
    height: 360px;
    width: 850px;
    margin: 40px 300px 40px 300px;
}
.content-1 video{
    margin: 20px 0 20px 40px;
    height: 300px;
    width: 500px;
}
.content-1 h2{
    font-size: 20px;
    margin: 28px 0 0 20px;
}
.content-1 p{
    margin: 20px 20px 0 20px;
} */
/* delete */
/* decisions products end */















