/* functions */
.functions-title{
    margin: 40px 300px 40px 300px;
}
.functions-title h1{
    margin: 20px 40px 0 0;
}
/* delete */
/* .content-2{
    margin: 40px 300px 40px 300px;
}
.content-2 h1{
    margin: 20px 40px 0 0;
} */
/* delete */




/* functions */